.h2-shopPage {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 2rem;
  color: #555;
}

.item-link {
  text-decoration: none !important;
  color: #555;
}


.list-item-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}


.item-link p:hover {
  text-decoration: none !important;
  color: rgb(23, 147, 19);
}

.shop-detail-header-image {
  height: 350px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media only screen and (max-width: 700px) {
  .list-item-image {
    height: 300px;
  }
}
