html {
  color: #555;
  font-family: "Raleway", "Arial", "sans-serif";
  text-rendering: optimizeLegibility;
}

.landing-header {
  margin-top: 60px;
  height: 400px;
  position: relative;
}

.landing-header img {
  object-fit: cover;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.landing-header .header-content {
  position: absolute;
  padding: 5rem 0;
  height: 100%;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
}

.h2-landingPage {
  text-align: center;
  color: #555;
  font-weight: 400;
  font-size: 180%;
  word-spacing: 4px;
  letter-spacing: 1px;
}
.h1-landingPage {
  margin-left: 10rem;
}
.p-landingPage {
  line-height: 145%;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 4px;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media only screen and (max-width: 700px) {
  .list-item-image {
    height: 300px;
  }
}
