.product-list-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-page-image {
  object-fit: cover;
  height: 350px;
  width: 100%;
}

.btn-outline-success,
.btn-outline-secondary {
  margin-bottom: 3px;
  margin-right: 3px;
}