.h2-cartPage {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 2rem;
  color: #555;
}

.h2-CartPage {
  margin-top: 6rem;
  margin-bottom: 2rem;
  color: #555;
}

/* .p-landingPage{

} */

.item-link {
  text-decoration: none !important;
  color: #555;
}


.list-item-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}


.item-link p:hover {
  text-decoration: none !important;
  color: rgb(23, 147, 19);
}

.cart-detail-header-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}



.btn-outline-success,
.btn-outline-secondary {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
}

@media only screen and (max-width: 700px) {
  .list-item-image {
    height: 300px;
  }
}
