 .h1-contact,
 .p-contact {
  padding-top: 5rem;
  color: #555;
  line-height: 145%;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 4px;
  padding-left: 2rem;
  padding-right: 2rem;
 
  height: 100%;
}

.p-contact {
padding-bottom: 5rem;
}

.pre-contact {
  text-align: center;
  
}

.contact-page {
  position: absolute;
  padding: 5rem 0;
  height: 100%;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
}


