.LoadingModal {
  animation: Loading-modal-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes Loading-modal-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
