.loading-container {
  position: absolute;
  z-index: 20000000;
  background-color: rgba(255, 255, 255, 0.6);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}

.loading-square {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%);
  animation: Loading-modal-spin infinite 1.5s linear;
}

.LoadingModal {
  width: 100%;
  height: 100%;
  transform: translate3d(-50%, -50%);
}

@keyframes Loading-modal-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
