.bottom-footer {
  display: block;
  width: 100%;
  color: #555;
  padding-top: 60px;
}

.navlink {
  text-decoration: none;
  color: #555;
  margin-right: 40px;
}

.© {
  text-decoration: none;
  color: #555;
}
